<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <objectstore:config name="ObjectStore__Connector" doc:name="ObjectStore: Connector" entryTtl="0" expirationInterval="0" maxEntries="1000" partition="CUSTOMER" objectStore-ref="_defaultInMemoryObjectStore"/>

	    
   	<spring:beans>
       <spring:bean id="custom_context_listener" class="com.mulesoft.init.listner.FlowInvokingListner">
       	<spring:property name="startingFlow" ref="init-flow:/initialise-customer-details"/>
       </spring:bean>
    </spring:beans>

	<http:listener-config name="customer-provider-api-httpListenerConfig" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/>

    <apikit:config name="customer-provider-api-config" raml="customer-provider-api.raml" consoleEnabled="false" doc:name="Router"  keepRamlBaseUri="false"/>
    
    
</mule>
